* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100%;
    line-height: 1.5em;
    font-family: 'Jost', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #023047;
    background-color: whitesmoke;
    margin: 10px;
}

.infos {
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.bann {
  background-image: url("contactMobile.png");
  background-repeat: no-repeat;
  background-size :cover;
  }

.contact {
  text-align: center;
}

legend {
    text-align: center;
}

h2 {
    text-align: center;
    color: #FB8500;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    background-color: #023047;
}

ul {
    list-style: none;
}

a:link {color:#023047;}             /* Lien non visité */
a:visited {color:#8ECAE6;}          /* Lien visité */
a:hover {color:#FB8500;}            /* Lien survolé*/
a:active {color:#219EBC;}           /* Lien sélectionné */

div {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media only screen 
and (min-width: 992px) {
    .footerGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .bann {
        grid-column: 1/3;
        grid-row: 1;
        background-image: url("contactDesktop.png");
        background-repeat: no-repeat;
        background-size :cover;
    }
   
    .form {
        grid-column: 1/3;
        grid-row: 3;
        text-align: center;
  }
}
