* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {

    /* COULEURS */
    
    --light-blue: #8ecae6;
    --middle-blue: #219ebc;
    --dark-blue: #023047;
    --yellow: #ffb703;
    --orange: #fb8500;

    /* POLICES */

    --main-police: 'Jost', sans-serif;
}


html {
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    line-height: 1.5em;
    font-family: 'Jost', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #023047;
    background-color: whitesmoke;
    margin: 10px;
}
/**Header NavBar**/

header {
    /*empeche de cacher le texte en dessous contrairement à fixed */
    background-color: var(--dark-blue);
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 4px 0 var(--orange);
    transition: box-shadow 1s;
    z-index: 1;
    /*pour rester toujours en avant-plan*/
}

.shadowHeader {
    box-shadow: 1px 8px 7px 2px #ff51002b;
}

header a {
    text-decoration: none;
    color: white;
}

.progressBar-container {
    width: 100%;
    height: 4px;
    background-color: var(--orange);
}

.progressBar {
    height: 100%;
    width: 0%;
    background-color:var(--orange);
    transition: all 0.5s;
}

/**NAVBAR**/

.navbar {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 5px;
    /*taille du texte dynamique*/
}

.logo a {
    transition: color 0.5s;
}

.logo a:hover {
    color: var(--yellow);
}

.nav-ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-ul a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    /*Aulieu de 60px à cause des 4px de la progressBar*/
    width: 100px;
    font-size: 1.5rem;
}

.nav-ul a:hover {
    background-color: var(--yellow);
    border-radius: 5px;
    animation: flou 0.5s;
}

@keyframes flou {
    from {
        transform: translateX(-20px);
        filter: blur(2px);
    }
    to {
        transform: translateX(0);
        filter: blur(0);
    }
}


/*Icone Hamburger*/

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.hamburger :first-child {
    /*1ere barre pas de margin top*/
    margin-top: 0;
}

.bar1, .bar2, .bar3 {
    margin-top: 6px;
    width: 35px;
    height: 6px;
    border-radius: 5px;
    background-color: var(--orange);
    transition: all 0.7s;
}

.open .bar1, .open .bar2, .open .bar3 {
    background-color: var(--yellow);
}

.open .bar1 {
    transform: translateY(200%) rotate(-45deg);
}

.open .bar2 {
    opacity: 0;
    transform: rotate(45deg);
}

.open .bar3 {
    transform: translateY(-200%) rotate(45deg);
}

.noScroll {
    /*empeche le scroll sur le body via JS*/
    overflow: hidden;
}

/*début de la page*/

.infos {
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.bann {
  
  background-image: url("contactMobile.png");
  background-repeat: no-repeat;
  background-size :cover;
  }

.contact {
  text-align: center;
}

.form {
    height: 150px;
    text-align: center;
}
#lastname, #email {
    width: 25%;
    padding-left: auto;
    padding-right: auto;
}

#message {
    width: 60%;
    padding-left: auto;
    padding-right: auto;
    height: 250px;
}

.infos h2 {
    text-align: center;
    background-color: #023047;
    color: #FB8500;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ulcontact {
    list-style: none;
}

.ulcontact a:link {color:#023047;}             /* Lien non visité */
.ulcontact a:visited {color:#8ECAE6;}          /* Lien visité */
.ulcontact a:hover {color:#FB8500;}            /* Lien survolé*/
.ulcontact a:active {color:#219EBC;}           /* Lien sélectionné */

.infos div, .footerGrid div {
    padding-top: 20px;
    padding-bottom: 20px;
}
/* début du footer*/

footer {
    border:#023047 1px solid;
}

.footerGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.row1 {
    font-size: 0.75rem;
    text-align: center;
    color:#8ECAE6;
    background-color: #023047;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: #FB8500 2px solid;
}

.row1 h3 {
    color:#FB8500;
}

.row1 a:link {color:#8ECAE6;}
.row1 a:visited {color:#023047;}
.row1 a:hover {color:#FB8500;}
.row1 a:active {color:#219EBC;}

.bouton {
    padding: 10px 30px;
    background: #FB8500;
    color:#023047;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    border: 2px solid #023047;
}

.bouton:hover {
    background: #023047;
    color: #8ECAE6;
    border: 2px solid #FB8500;
    ;
}

.row2 {
    text-align: center;
    background-color: #8ECAE6;
}

#logoFooter {
    padding-top: 20px;
}

.copyright {
    font-size: 0.75rem;
    text-align: center;
    padding: 30px;
    background-color:#023047;
    color: #FB8500;
}

/* fin du footer*/

@media only screen 
and (max-width: 992px) {
    .hamburger {
        display: flex;
    }
    .nav-ul {
        position: fixed;
        top: 60px;
        left: -100%;
        width: 100%;
        height: 100%;
        flex-direction: column;
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        background-color: rgba(0, 0, 0, 0.4);
        transition: transform 0.5s ease-out;
    }
    .slide {
        transform: translate(100%);
    }
    .nav-ul a {
        justify-content: left;
        padding-left: 5px;
        width: 50%;
        border-bottom: 1px solid rgba(192, 127, 6, 0.2);
    }
    .nav-ul a:hover {
        border-radius: 0;
        animation: none;
    }

    article p{
        font-size: 1rem;
    }
}

    @media only screen 
    and (min-width: 992px) {
    .infos {
        display: grid;
        grid-template-columns: 2, 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
    }

.bann {
        grid-column: 1/3;
        grid-row: 1;
        background-image: url("contactDesktop.png");
        background-repeat: no-repeat;
        background-size :cover;
    }
   
.form {
        grid-column: 1/3;
        grid-row: 3;
        text-align: center;

  }
  
.footerGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        }
}
