* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    line-height: 1.5em;
    font-family: 'Jost', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #023047;
    background-color: #8ECAE6;
}

h2 {
    color: #FB8500;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    background-color: #023047;
}

h1 {
    color: #FB8500;
    padding-top: 10px;
    height: 250px;
    background-image: url("contact.png");
    background-repeat: no-repeat;
    background-size :cover;
    display: flex;
    justify-content: bottom;
    font-size: clamp(30px, 5vw, 48px);
}

ul {
    list-style: none;
}

a:link {color:#023047;}              /* Lien non visité */
a:visited {color:#8ECAE6;}          /* Lien visité */
a:hover {color:#FB8500;}            /* Lien survolé*/
a:active {color:#219EBC;}           /* Lien sélectionné */


fieldset {
    border: none;
}

div {
    padding-top: 20px;
    padding-bottom: 20px;
}


@media screen and (max-width: 390px) {

}