/* CSS du diaporama */

.slider-container {
  /*hauteur img de la version mobile*/  
  height: 150px;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}

@media screen and (min-width: 992px) { 
    .slider-container {
        /* hauteur img de la version desktop*/
        height: 300px;
    }
}

.menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
}
.menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50px;
  margin: 0 0.2em 1em;
}
.menu label:hover,
.menu label:focus {
  background: #1c87c9;
}
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  background-size: 100% 100%; 
  background-position: 50% 50%;
  transition: left 0s 0.75s;
}
[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left 0.65s ease-out;
}
.slide-1 {
  background-image: url("/RESSOURCES/IMAGES/img1.png");
}
.slide-2 {
  background-image: url("/RESSOURCES/IMAGES/img2.jpg");
}
.slide-3 {
  background-image: url("/RESSOURCES/IMAGES/img3.jpg");
}


/* CSS du diaporama FIN */

/* CSS citation */
.citation_container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  max-width: 100%;
  padding-left: 30px;
  background-color: #023047;
  border-radius: 8px;
  
}

.citation_author {
  display: flex;
  align-items: center;
  padding-left: 10px;
  
    }

.citation_author_name {
  font-size: 20px;
  color: white;
  margin: 10px;
}

.citation_picture {
  border-radius: 50% 50%;
  
}

.citation_avatar {
  flex: 0 0 32px;
  width: 30px;
  border: 2px solid #FB8500;
  border-radius: 50% 50%;
  background-color: transparent;
  background-color: initial;
  overflow: hidden;
  margin-top: 8px;
}


.citation_body {
    padding: 10px;
    color: white;
  }

  /* Mode desktop */
@media screen and (min-width: 992px) { 
  .citation {      
     background-color: #FB8500;
  }
}

/* FIN CSS citation */

/* CSS Disciplines */
.espaces_disciplines_container {
  display: flex;
  align-items: center;
  background-color: darkgreen;
  box-sizing: 100%;
  border-radius: 8px;
  text-align: center;
  color: white;
}

ul {
  

}