:root {

    /* COULEURS */
    
    --light-blue: #8ecae6;
    --middle-blue: #219ebc;
    --dark-blue: #023047;
    --yellow: #ffb703;
    --orange: #fb8500;

    /* POLICES */

    --main-police: 'Jost', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--light-blue);
}
/**Header NavBar**/

header {
    /*empeche de cacher le texte en dessous contrairement à fixed */
    background-color: var(--dark-blue);
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 4px 0 var(--orange);
    transition: box-shadow 1s;
    z-index: 1;
    /*pour rester toujours en avant-plan*/
}

.shadowHeader {
    box-shadow: 1px 8px 7px 2px #ff51002b;
}

header a {
    text-decoration: none;
    color: white;
}

.progressBar-container {
    width: 100%;
    height: 4px;
    background-color: var(--orange);
}

.progressBar {
    height: 100%;
    width: 0%;
    background-color:var(--orange);
    transition: all 0.5s;
}

/**NAVBAR**/

.navbar {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 5px;
    /*taille du texte dynamique*/
    font-size: clamp(1.5rem, 5vw, 2.2rem);
}

.logo a {
    transition: color 0.5s;
}

.logo a:hover {
    color: var(--yellow);
}

.nav-ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-ul a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    /*Aulieu de 60px à cause des 4px de la progressBar*/
    width: 100px;
    font-size: 1.5rem;
}

.nav-ul a:hover {
    background-color: var(--yellow);
    border-radius: 5px;
    animation: flou 0.5s;
}

@keyframes flou {
    from {
        transform: translateX(-20px);
        filter: blur(2px);
    }
    to {
        transform: translateX(0);
        filter: blur(0);
    }
}


/*Icone Hamburger*/

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.hamburger :first-child {
    /*1ere barre pas de margin top*/
    margin-top: 0;
}

.bar1, .bar2, .bar3 {
    margin-top: 6px;
    width: 35px;
    height: 6px;
    border-radius: 5px;
    background-color: var(--orange);
    transition: all 0.7s;
}

.open .bar1, .open .bar2, .open .bar3 {
    background-color: var(--yellow);
}

.open .bar1 {
    transform: translateY(200%) rotate(-45deg);
}

.open .bar2 {
    opacity: 0;
    transform: rotate(45deg);
}

.open .bar3 {
    transform: translateY(-200%) rotate(45deg);
}

.noScroll {
    /*empeche le scroll sur le body via JS*/
    overflow: hidden;
}

/**Media Queries**/

@media (max-width: 992px) {
    .hamburger {
        display: flex;
    }
    .nav-ul {
        position: fixed;
        top: 60px;
        left: -100%;
        width: 100%;
        height: 100%;
        flex-direction: column;
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        background-color: rgba(0, 0, 0, 0.4);
        transition: transform 0.5s ease-out;
    }
    .slide {
        transform: translate(100%);
    }
    .nav-ul a {
        justify-content: left;
        padding-left: 5px;
        width: 50%;
        border-bottom: 1px solid rgba(192, 127, 6, 0.2);
    }
    .nav-ul a:hover {
        border-radius: 0;
        animation: none;
    }

    article p{
        font-size: 1rem;
    }
}