:root {

    /* COULEURS */
    
    --white: #fffffff8;
    --light-blue: #8ecae6;
    --middle-blue: #219ebc;
    --dark-blue: #023047;
    --yellow: #ffb703;
    --orange: #fb8500;

    /* POLICES */

    --main-police: 'Jost', sans-serif;
}

/* PRESTATIONS - GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--main-police);
}

body {
    background-color: var(--white);
    
}

h2 {
    font-family: var(--main-police);
    color: var(--dark-blue);
    margin-bottom: 5px;
    margin-top: 15px;
}

h3 {
    color: var(--orange);
}

p {
    font-size: 20px;
    line-height: 1.5;
    font-family: var(--main-police);
}

.logo img {
    height: 13vw;
    width: 30vw;
}

/* PRESTATIONS - BANNIERES IMAGES */

.text-image h2 {
    color: white;
}

.container {
    position: relative;
    width: 100vw;
    height: 60vw;
   
}

.image {
width: 100%;
height: 100%;
}

.text-image {
    position: absolute;
    top: 50%;
    left : 50%;
}

.prestations-espace {
    margin-top: 15px;
}

/* PRESTATIONS - ACCORDEONS */

.container-accordions {
    margin: 6px;
}

.accordion {
    background-color: var(--dark-blue);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: 0.5px solid var(--light-blue);
    outline: none;
    transition: 0.4s;
    border-radius: 5px;
  }

  .active, .accordion:hover {
    background-color: var(--dark-blue);
  }

  .panel {
    padding: 0 18px;
    background-color: var(--light-blue);
    display: none;
    overflow: hidden;
    border: 1px solid var(--dark-blue);
    border-radius: 4px;
  }

  /* ESPACE DETENTE */

.espace-detente {
    border: 1px solid black;
    box-shadow: 1px 2px 4px;
    border-radius: 4px;
    margin: 6px;
    padding: 15px;
}

@media only screen and (min-width: 992px) {

    .logo img {
        height: 4vw;
        margin-left: 0vw;
    }
    .panel {
        display: block;
    }

    .image {
        height: 78%;
    }

    .big-container {
    display: flex;
    height: 35vw;
}
    .container {
        height: 45vw;
    }
    .espace-detente {
        width: 60vw;
        height: 300px;
        margin-left: 20vw;
    }
    .prestations-espace {
        width: 50vw;
        height: 300px;
    }
    .espace {
        width: 50vw;
        height: 300px;
        margin-top: 15px;
    }
    .container-accordions {
        display: flex;
        height: 615px;
    }

    #image-detente {
        content: url("iMAGES/spa-handmade-soap-with-white-towels-sea-salt-composition-tropical-leaves-with-candle-wooden-background.jpg");
    }
}

 /* HEADER */

 html {
    scroll-behavior: smooth;
}

header {
    /*empeche de cacher le texte en dessous contrairement à fixed */
    background-color: var(--dark-blue);
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 4px 0 var(--orange);
    transition: box-shadow 1s;
    z-index: 1;
    /*pour rester toujours en avant-plan*/
}

.logo {
    display: inline-block;
}

.shadowHeader {
    box-shadow: 1px 8px 7px 2px #ff51002b;
}

header a {
    text-decoration: none;
    color: white;
}

.progressBar-container {
    width: 100%;
    height: 4px;
    background-color: var(--orange);
}

.progressBar {
    height: 100%;
    width: 0%;
    background-color:var(--orange);
    transition: all 0.5s;
}

/**NAVBAR**/

.navbar {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 5px;
    /*taille du texte dynamique*/
    font-size: clamp(1.5rem, 5vw, 2.2rem);
}

.logo a {
    transition: color 0.5s;
}

.logo a:hover {
    color: var(--orange);
}

.nav-ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-ul a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    /*Aulieu de 60px à cause des 4px de la progressBar*/
    width: 100px;
    font-size: 1.5rem;
}

.nav-ul a:hover {
    background-color: var(--orange);
    border-radius: 5px;
    animation: flou 0.5s;
}

@keyframes flou {
    from {
        transform: translateX(-20px);
        filter: blur(2px);
    }
    to {
        transform: translateX(0);
        filter: blur(0);
    }
}


/*Icone Hamburger*/

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.hamburger :first-child {
    /*1ere barre pas de margin top*/
    margin-top: 0;
}

.bar1, .bar2, .bar3 {
    margin-top: 6px;
    width: 35px;
    height: 6px;
    border-radius: 5px;
    background-color: var(--orange);
    transition: all 0.7s;
}

.open .bar1, .open .bar2, .open .bar3 {
    background-color: var(--yellow);
}

.open .bar1 {
    transform: translateY(200%) rotate(-45deg);
}

.open .bar2 {
    opacity: 0;
    transform: rotate(45deg);
}

.open .bar3 {
    transform: translateY(-200%) rotate(45deg);
}

.noScroll {
    /*empeche le scroll sur le body via JS*/
    overflow: hidden;
}

/**Media Queries**/

@media (max-width: 992px) {
    .hamburger {
        display: flex;
    }
    .nav-ul {
        position: fixed;
        top: 60px;
        left: -100%;
        width: 100%;
        height: 100%;
        flex-direction: column;
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        background-color: rgba(0, 0, 0, 0.4);
        transition: transform 0.5s ease-out;
    }
    .slide {
        transform: translate(100%);
    }
    .nav-ul a {
        justify-content: left;
        padding-left: 5px;
        width: 50%;
        border-bottom: 1px solid rgba(192, 127, 6, 0.2);
    }
    .nav-ul a:hover {
        border-radius: 0;
        animation: none;
    }

    article p{
        font-size: 1rem;
    }
}


/* FOOTER */

footer {
    border:#023047 1px solid;
}

.footerGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.row1 {
    text-align: center;
    color:#8ECAE6;
    background-color: #023047;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: #FB8500 1px solid;
}

footer h3 {
    color:#FB8500;
}

.row1 a:link {color:#8ECAE6;}
.row1 a:visited {color:#023047;}
.row1 a:hover {color:#FB8500;}
.row1 a:active {color:#219EBC;}

.bouton {
    padding: 10px 30px;
    background: #8ECAE6;
    color:#023047;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    border: 2px solid #FB8500;
}

.bouton:hover {
    background: #FB8500;
    color: #023047;
    border: 2px solid #8ECAE6;
}

.row2 {
    text-align: center;
    background-color: #8ECAE6;
}

#logo {
    padding-top: 50px;
}

.copyright {
    text-align: center;
    padding: 30px;
    background-color:#023047;
    color: #FB8500;
}

@media only screen 
and (min-width: 992px) {
.footerGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        }
}